[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "vim/plugged/delimitMate"]
	path = vim/plugged/delimitMate
	url = https://github.com/Raimondi/delimitMate
